[Desktop Entry]
Encoding=UTF-8
Name=FUNC
Comment=FUNC P2P Cryptocurrency
Comment[fr]=FUNC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FUNC, eşten eşe kriptografik sanal para birimi
Exec=func-qt %u
Terminal=false
Type=Application
Icon=func128
MimeType=x-scheme-handler/func;
Categories=Office;Finance;
