policy_module(func, 1.100.1)

########################################
#
# Declarations
#

type func_t;
type func_exec_t;
init_daemon_domain(func_t, func_exec_t)

permissive func_t;

type func_initrc_exec_t;
init_script_file(func_initrc_exec_t)

type func_conf_t;
files_type(func_conf_t)

type func_var_lib_t;
files_type(func_var_lib_t)

type func_var_run_t;
files_type(func_var_run_t)

type func_port_t;
corenet_port(func_port_t)

########################################
#
# func local policy
#
allow func_t self:process { fork };

allow func_t self:fifo_file rw_fifo_file_perms;
allow func_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(func_t, func_conf_t, func_conf_t)
manage_files_pattern(func_t, func_conf_t, func_conf_t)

manage_dirs_pattern(func_t, func_var_lib_t, func_var_lib_t)
manage_files_pattern(func_t, func_var_lib_t, func_var_lib_t)
files_var_lib_filetrans(func_t, func_var_lib_t, { dir file })

manage_dirs_pattern(func_t, func_var_run_t, func_var_run_t)
manage_files_pattern(func_t, func_var_run_t, func_var_run_t)

sysnet_dns_name_resolve(func_t)
corenet_all_recvfrom_unlabeled(func_t)

allow func_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(func_t)
corenet_tcp_sendrecv_generic_node(func_t)
corenet_tcp_sendrecv_all_ports(func_t)
corenet_tcp_bind_generic_node(func_t)

gen_require(`
    type func_port_t;
')
allow func_t func_port_t:tcp_socket name_bind;

gen_require(`
    type func_port_t;
')
allow func_t func_port_t:tcp_socket name_connect;

domain_use_interactive_fds(func_t)

files_read_etc_files(func_t)

miscfiles_read_localization(func_t)

sysnet_dns_name_resolve(func_t)

allow func_t func_exec_t:file execute_no_trans;
allow func_t self:process setsched;
corecmd_exec_ls(func_t)
corenet_tcp_connect_http_port(func_t)
dev_read_urand(func_t)
fs_getattr_xattr_fs(func_t)
kernel_read_system_state(func_t)
